

.review-design img{
    width: 150px;
    height: 150px;
    border-radius: 100%;
    background-color: #B59A7F;
}
.review-design img {
    width: 119p;
    height: 119px;
    border-radius: 100%;
    background-color: #B59A7F;
}